default.properties
build.properties
local.properties
bin/
gen/
res/raw/
libs/
obj/
.classpath
*~
src/org/geometerplus/android/fbreader/network/bookshare/BookshareDeveloperKey.java
project.properties
res/raw/data__help__minihelp_en_fb2
