default.properties
build.properties
local.properties
bin/
gen/
res/drawable/
libs/
obj/
.classpath
BookshareDeveloperKey.java
*~
src/org/geometerplus/android/fbreader/network/BookshareDeveloperKey.java

