default.properties
build.properties
local.properties
bin/
gen/
res/drawable/
res/raw/
libs/
obj/
.classpath
*~
src/org/geometerplus/android/fbreader/network/bookshare/BookshareDeveloperKey.java

project.properties

src/org/geometerplus/android/fbreader/network/bookshare/BookshareDeveloperKey.java

src/org/geometerplus/android/fbreader/network/bookshare/BookshareDeveloperKey.java

res/raw/data__help__minihelp_en_fb2

local.properties

default.properties

.gitignore

src/org/geometerplus/android/fbreader/network/bookshare/BookshareDeveloperKey.java

src/org/geometerplus/android/fbreader/network/bookshare/BookshareDeveloperKey.java
